.auth-landing-container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	overflow: auto;
	padding: 2rem;
	background: radial-gradient(circle at 20% 30%, #e7fe57 0%, transparent 50%),
		radial-gradient(circle at 80% 20%, #cef7ab 0%, transparent 50%),
		radial-gradient(circle at 30% 80%, #d6c5ff 0%, transparent 60%),
		radial-gradient(circle at 85% 75%, #ffbfa7 0%, transparent 55%),
		radial-gradient(circle at 50% 50%, #98a8ff 0%, transparent 60%);
	background-blend-mode: screen, lighten, lighten, lighten, normal;

	&--start {
		justify-content: flex-start;
	}
}

.auth-card-hover {
	transition: transform 0.3s ease;
}

.auth-card-hover:hover {
	transform: translateY(-4px);
}
